@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
.form-Login {
    width: 400px;
    background: #63757cb4;
    background: linear-gradient(to right, hsla(199, 91%, 78%, 0.459), hsla(196, 58%, 36%, 0.664));
    padding: 30px;
    margin: auto;
    margin-left: 60%;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: 7px 13px 37px #000;
}

.form-Login h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
}

.form-Login p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-Login a {
    color: cyan;
    text-decoration: none;
}

.form-Login .botons {
    width: 100%;
    background: #2b838f;
    border-radius: 50px;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}